.youtube-video-list > .row {
    display: flex;
    flex-wrap: wrap;
}

.youtube-video-list > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.youtube-video-list .youtube-video-entry {
    margin-bottom: 15px;
}

.youtube-video-list .youtube-video-entry .thumbnail {
    position: relative;
    padding-bottom: 56.2%;
}

.youtube-video-list .youtube-video-entry .thumbnail img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}